.add-to-address-book-modal {
  display: flex;
  flex-flow: column nowrap;
  // background-color: $white;
  background: url("https://milkywaygalaxy-2.s3.ap-southeast-1.amazonaws.com/milkywaygalaxy-21660788794276-ui_passport_DEV_0006_Group-2%202.png");
  border-radius: 10px;
  box-shadow: 0 5px 16px rgba($black, 0.25);

  &__content {
    @extend %col-nowrap;

    padding: 1.5rem;
    border-bottom: 1px solid $Grey-100;
    color: #4c535a;

    &__header {
      @include H3;
    }
  }

  &__input-label {
    color: $Grey-600;
    margin-top: 1.25rem;
  }

  &__input {
    @include H4;

    background: $white;
    border: 1px solid $Grey-100;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 0.625rem 0.75rem;
    margin-top: 0.75rem;

    &::placeholder {
      color: $Grey-300;
    }
  }

  &__footer {
    @extend %row-nowrap;

    padding: 1rem;

    button + button {
      margin-left: 1rem;
    }
  }
}
