.unlock-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 357px;
  padding: 30px;
  font-weight: 400;
  color: $silver-chalice;
  background: url('https://milkywaygalaxy-2.s3.ap-southeast-1.amazonaws.com/milkywaygalaxy-21660726627929-ui_passport_DEV_0006_Group-2%202.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    // background: $white;
    display: flex;
    align-self: stretch;
    justify-content: center;
    flex: 1 0 auto;
  }

  &__mascot-container {
    margin-top: 24px;
  }

  &__title {
    @include H2;

    margin-top: 5px;
    font-weight: 800;
    // color: $tundora;
    color: #797979;
  }

  &__form {
    width: 100%;
    margin: 56px 0 8px;
    color: #797979 !important;
  }

  &__links {
    margin-top: 25px;
    width: 100%;
  }

  &__link {
    cursor: pointer;
    background-color: unset;
    color: unset;
    font-size: unset;

    &--import {
      color: $ecstasy;
    }

    &--use-classic {
      margin-top: 10px;
    }
  }
}
